body {
  background: #f2f2f2;
  font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
  font-weight: 100;
}

h1 {
  background: rgba(0, 0, 0, .8);
  color: #fff;
  font-family: Helvetica Neue;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
  padding: 20px;
}

.pictures-container {
  display: flex;
  flex-wrap: wrap;
}

.picture-container {
  padding: 10px;
  text-align: center;
  width: 200px;
}

.picture-image {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, .15);
  // We need to add this since otherwise it'll snap back instead of easing back after the hover
  // stackoverflow.com/questions/24895483
  display: inline-block;
  opacity: 1;
  padding: 2px;
  // TranslateZ is necessary since otherwise we get into 3D mode
  // This will cause other images to move 1px in a random direction
  transform: translateZ(0) scale(.9);
  transition: opacity .3s ease, transform .3s ease;
  width: 150px;
  &:hover {
    opacity: .9;
    transform: rotate(-20deg);
    transition: opacity .3s ease, transform .3s ease;
  }
}

